.header {
  width: 100%;
  height: 8rem;
  background-color:white;
  color:grey;
  display: flex;
  justify-content: end;
  align-items: center;
  /* border-bottom: 1px solid #ccc; */
  padding: 0 15px 2rem 15px;
}

.logo {
  height:50px;
  width:50px;
  margin-left: 1.5rem;
  object-fit: cover;
  border-radius: 50%;
}